# ignoring the migrations after I added __init__.py
migrations/

# ignoring the conf file
conf.py

# ignoring the database
*db.sqlite3

# ignoring pycache
__pycache__
hotels/tests/unit/__pycache__/*
*.pyc

# ignoring Pycharm files
.idea/
.DS_Store